body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.schedule {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.remove {
  width: 14px;
  height: 14px;
  background: red;
}

.subject {
  width: 56px;
  height: 14px;
  background: #00B7FF;
}

.coursenum{
  width: 50px;
  height: 14px;
  background: red;
}

.coursename{
  width: 400px;
  height: 14px;
  background: #00B7FF;
}

.courseterm{
  width: 56px;
  height: 14px;
  background: red;
}